<mat-menu>
</mat-menu>

<div id="breadcrumbs" class="medalsStatisticsMenu">
    {{breadcrumbs}}
</div>

<div class="container-fluid">

    <div class="row medalsStatisticsMenu">
        <div class="col-sm-4">
            <button mat-menu-item (click)="finishShowingMedalsStatistics()" class="matMenuFont">Vrati se nazad</button>
        </div>
    </div>
</div>
<br>

<div class="medalsStatisticsMenu">

    <div class="chartsClass" id="divMedalsStates">
        <canvas id="chartMedalsStates"></canvas>
    </div>
</div>

<div class="medalsStatisticsMenu">

    <div class="chartsClassMultiple" id="divMedalsStatesSports">
        <canvas id="chartMedalsStatesSports"></canvas>
    </div>
</div>