<mat-menu>
</mat-menu>

<div id="breadcrumbs" class="showNationalTeamMenu">
    {{breadcrumbs}}
</div>

<div class="container-fluid">

    <div class="row showNationalTeamMenu">
        <div class="col-sm-4">
            <button mat-menu-item (click)="finishShowingNationalTeam()" class="matMenuFont">Vrati se nazad</button>
        </div>
    </div>
</div>
<br>

<div class="showNationalTeamMenu" *ngIf='nationalPlayers'>
    <strong>{{nationalLeader.nationality}}</strong>&nbsp;ima {{nationalPlayers.length}} takmičara!
</div>
<br>
<div class="showNationalTeamMenu">

    <table class="table table-striped">
        <tbody>
            <tr>
                <td>
                    <select name="choosenSport" [(ngModel)]="choosenSport" (ngModelChange)="sportIsChoosen()">
                        <option *ngFor='let s of sports' [ngValue]="s.sport">{{s.sport.name}} [{{s.number}}]</option>
                    </select>
                </td>
                <td> > </td>
                <td>
                    <div *ngIf="choosenSport && hasDisciplines">
                        <select name="choosenDiscipline" [(ngModel)]="choosenDiscipline"
                            (ngModelChange)="disciplineIsChoosen()">
                            <option *ngFor='let d of disciplines' [ngValue]="d">{{d.disciplineName}}
                            </option>
                        </select>
                    </div>
                    <div *ngIf="choosenSport && !hasDisciplines">
                        Izabrani sport ne poseduje discipline
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<br>

<div *ngIf="showPlayers" class="showNationalTeamMenu">
    <div class="container">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of playersForShowing">
                    <td>{{p.firstname}}</td>
                    <td>{{p.lastname}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>