<mat-menu>
</mat-menu>


<div id="breadcrumbs" class="organizerMenu">
    {{breadcrumbs}}
</div>

<div class="container-fluid">

    <div class="row organizerMenu">
        <div class="col-sm-4">
            <button mat-menu-item (click)="acceptUsers()" class="matMenuFont">Odobri nove korisnike</button>
        </div>
        <div class="col-sm-2">
            <button mat-menu-item (click)="enterSportsAndDisciplines()" class="matMenuFont">Unesi sportove i
                discipline</button>
        </div>
        <div class="col-sm-2">
            <button mat-menu-item (click)="enterCompetitions()" class="matMenuFont">Unesi takmičenja</button>
        </div>
        <div class="col-sm-2">
            <button mat-menu-item (click)="showWorldRecords()" class="matMenuFont">Prikaži svetske rekorde</button>
        </div>
        <div class="col-sm-2">
            <button mat-menu-item (click)="logOut()" class="matMenuFont">Odjavi se</button>
        </div>
    </div>
</div>
<br>

<p class="organizerMenu">

    Dobrodošli organizatore&nbsp;<strong> {{organizer.firstname}} {{organizer.lastname}}</strong>!

</p>