<mat-menu>
</mat-menu>

<div id="breadcrumbs" class="changeMenu">
    {{breadcrumbs}}
</div>

<div class="container-fluid">

    <div class="row changeMenu">
        <div class="col-sm-6">
            <button mat-menu-item (click)="cancelPasswordChange()" class="matMenuFont">Početna strana</button>
        </div>
        <div class="col-sm-6">
            <button mat-menu-item (click)="confirmPasswordChange()" class="matMenuFont">Potvrdi promenu lozinke</button>
        </div>
    </div>
</div>
<br>
<div class="changeMenu">
    <table>
        <tr>
            <td>Korisnicko ime:</td>
            <td><input type="text" name="username" [(ngModel)]="username"></td>
            <td> <span *ngIf='errorUsername' class="errorClass">{{errorUsername}}</span></td>
        </tr>
        <tr>
            <td>Lozinka:</td>
            <td><input type="password" name="password" [(ngModel)]="password"></td>
            <td> <span *ngIf='errorPassword' class="errorClass">{{errorPassword}}</span></td>
        </tr>
        <tr>
            <td>Nova lozinka:</td>
            <td><input type="password" name="newPassword" [(ngModel)]="newPassword"></td>
            <td> <span *ngIf='errorNewPassword' class="errorClass">{{errorNewPassword}}</span></td>
        </tr>
    </table>
</div>