header {
    height:55px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;    
}




.olympic_rings_logo {
    height: 50px;
    width: 100%;
}

.headerLogo {
    float: left;   
}

.headerName {
    float: right;   
}

