<mat-menu>
</mat-menu>

<div id="breadcrumbs" class="playersSearchMenu">
    {{breadcrumbs}}
</div>


<div class="container-fluid">

    <div class="row playersSearchMenu">
        <div class="col-sm-6">
            <button mat-menu-item (click)="finishPlayersSearch()" class="matMenuFont">Vrati se nazad</button>
        </div>
        <div class="col-sm-6">
            <button mat-menu-item (click)="confirmSearch()" class="matMenuFont">Izlistaj</button>
        </div>
    </div>
</div>
<br>

<div class="playersSearchMenu">
    Broj sportista po stranici:
    <select name="paginationSize" [(ngModel)]="paginationSize">
        <option [ngValue]="20">20</option>
        <option [ngValue]="50">50</option>
        <option [ngValue]="100">100</option>
    </select>
</div>
<br>

<div class="playersSearchMenu">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Ime i prezime:</td>
                <td><input type="text" name="name" [(ngModel)]="name"></td>
            </tr>

            <tr>
                <td>Zemlja:</td>
                <td>
                    <select name="choosenState" [(ngModel)]="choosenState">
                        <option [ngValue]="">Sve zemlje</option>
                        <option *ngFor='let s of states' [ngValue]="s.countryName">{{s.countryName}}</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>Sport: </td>
                <td>
                    <select name="choosenSport" [(ngModel)]="choosenSport">
                        <option [ngValue]="">Svi sportovi</option>
                        <option *ngFor='let s of sports' [ngValue]="s.name">{{s.name}}</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>Discipline: </td>
                <td>
                    <select name="choosenDiscipline" [(ngModel)]="choosenDiscipline">
                        <option [ngValue]="">Sve discipline</option>
                        <option *ngFor='let d of disciplines' [ngValue]="d">{{d}}</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>Pol: </td>
                <td>
                    <input id="manGender" type="radio" name="gender" value="man" [(ngModel)]="gender">
                    <label for="manGender">M</label>
                    &nbsp;
                    <input id="womanGender" type="radio" name="gender" value="woman" [(ngModel)]="gender">
                    <label for="womanGender">Ž</label>
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>
                    <input type="checkbox" name='hasMedals' [(ngModel)]='hasMedals'>
                    Samo osvajači medalja
                </td>
            </tr>



        </tbody>
    </table>


</div>

<div *ngIf="showPlayers && choosenPlayers.length > 10" class="playersSearchMenu">
    <div class="container">
        <table class="table table-striped table-bordered centerContent">
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let p of choosenPlayers | paginate: {itemsPerPage: paginationSize, currentPage: p, id: 'players'};">
                    <td>{{p.firstname}}</td>
                    <td>{{p.lastname}}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <pagination-controls (pageChange)="p = $event" id="players"></pagination-controls>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="showPlayers && choosenPlayers.length <= 10" class="playersSearchMenu">
    <div class="container">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of choosenPlayers">
                    <td>{{p.firstname}}</td>
                    <td>{{p.lastname}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>