<div class="container-fluid">

    <div class="row initialMenu">
        <div class="col-sm-3">
            <button mat-menu-item [matMenuTriggerFor]="statistics" class="matMenuFont">Statistike</button>
            <mat-menu #statistics="matMenu">
                <button mat-menu-item (click)="countriesStatistics()" class="matMenuFont">Zemlje učesnice</button>
                <button mat-menu-item [matMenuTriggerFor]="medals" class="matMenuFont">Osvojene medalje</button>
                <button mat-menu-item (click)="playersSearch()" class="matMenuFont">Pregled sportista</button>
            </mat-menu>
            <mat-menu #medals="matMenu">
                <button mat-menu-item (click)="medalsShowTables()" class="matMenuFont">Tabelarni prikaz</button>
                <button mat-menu-item (click)="medalsShowGraphs()" class="matMenuFont">Vizualizacija</button>
            </mat-menu>
        </div>
        <div class="col-sm-3">
            <button mat-menu-item (click)="logIn()" class="matMenuFont">Uloguj se</button>
        </div>
        <div class="col-sm-3">
            <button mat-menu-item (click)="registerUser()" class="matMenuFont">Registruj se</button>
        </div>
        <div class="col-sm-3">
            <button mat-menu-item (click)="changePassword()" class="matMenuFont">Promeni lozinku</button>
        </div>
    </div>
</div>