<mat-menu>
</mat-menu>

<div id="breadcrumbs" class="sportsAndDisciplinesMenu">
    {{breadcrumbs}}
</div>


<div class="container-fluid">

    <div class="row sportsAndDisciplinesMenu">
        <div class="col-sm-6">
            <button mat-menu-item (click)="finishSelectingSports()" class="matMenuFont">Vrati se nazad</button>
        </div>
        <div class="col-sm-6">
            <button mat-menu-item (click)="confirmSport()" class="matMenuFont">Potvrdi sport i sportsku
                disciplinu</button>
        </div>
    </div>
</div>
<br>
<div class="sportsAndDisciplinesMenu">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Izaberite sport: </td>
                <td>
                    <select name="choosenSport" [(ngModel)]="choosenSport" (ngModelChange)="sportIsChoosen()">
                        <!--<option [ngValue]="null">Izaberi sport</option>-->
                        <option *ngFor='let s of sports' [ngValue]="s">{{s.name}}</option>
                    </select>
                </td>
                <td> <span *ngIf='errorNoSport' class="errorClass">{{errorNoSport}}</span></td>
            </tr>
            <tr *ngIf="choosenSport && hasDisciplines">
                <td>Discipline: </td>
                <td>
                    <div>
                        <select size="10" name="choosenDiscipline" [(ngModel)]="choosenDiscipline" multiple>
                            <!--<option [ngValue]="null">Izaberi sport</option>-->
                            <option *ngFor='let d of disciplines' [ngValue]="d.disciplineName">{{d.disciplineName}}
                            </option>
                        </select>
                    </div>
                </td>
                <td> <span *ngIf='errorNoDiscipline' class="errorClass">{{errorNoDiscipline}}</span></td>
            </tr>
            <tr *ngIf="choosenSport && !hasDisciplines">
                <td colspan="2">
                    Izabrani sport ne poseduje discipline
                </td>
            </tr>

            <tr *ngIf="!choosenSport">
                <td colspan="2">
                    Morate označiti željeni sport
                </td>
            </tr>

        </tbody>
    </table>


</div>
<br>
<div *ngIf="addedSport" class="sportsAndDisciplinesMenu successClass">
    {{alertMessage}}
</div>