<mat-menu>
</mat-menu>

<div id="breadcrumbs" class="worldRecordsMenu">
    {{breadcrumbs}}
</div>

<div class="container-fluid">

    <div class="row worldRecordsMenu">
        <div class="col-sm-6">
            <button mat-menu-item (click)="finishWorldRecordShowing()" class="matMenuFont">Vrati se nazad</button>
        </div>
    </div>
</div>
<br>

<div class="worldRecordsMenu">
    <div class="container">
        <table class="table table-striped table-bordered centerContent">
            <thead>
                <tr>
                    <th>Godina</th>
                    <th>Mesto</th>
                    <th>Disciplina</th>
                    <th>Takmičar/Takmičari</th>
                    <th>Nacionalnost <br> takmičara</th>
                    <th>Rekord</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let w of worldRecords">
                    <td>{{w.year}}</td>
                    <td>{{w.place}}</td>
                    <td>{{w.discipline}}</td>
                    <td>{{w.competitor}}</td>
                    <td>{{w.nationality}}</td>
                    <td>{{w.result}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>